@model IEnumerable<Assignment1.Models.question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@Html.ActionLink("Go to questioner page", "Index", "questioners")</h3>
<li>@Html.ActionLink("Product On", "Product", "Store", new { ProductName = "Product One" }, null)</li>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.questioner.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questioner.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contents_of_question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.questioner.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questioner.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contents_of_question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.question_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.question_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.question_id })
        </td>
    </tr>
}

</table>
