@model IEnumerable<Assignment1.Models.questioner>

@{
    ViewBag.Title = "Questioners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questioners</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_address)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.questioner_id })
                <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.questioner_id })
            @if (Request.IsAuthenticated)
            {<span>|</span>
            @Html.ActionLink("Delete", "Delete", new { id = item.questioner_id })
            }
        </td>
    </tr>
}

</table>
